doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="/styles.css")
    body
        h1= title
        a(href="/update") Add New Book
        if data && data.length > 0
            table
                thead
                    tr
                        th Name
                        th Genre
                        th Author
                tbody
                    each book in data
                        tr
                            td= book.properties.name
                            td= book.properties.genre
                            td= book.properties.author
        else
            p No books found 