doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        h1= title
        a.add-book-link(href="/update-cobj") Add to this table
        if data && data.length > 0
            .book-grid
                each book in data
                    .book-card
                        h3= book.properties.name
                        .book-info
                            strong Genre:
                            span= book.properties.genre
                        .book-info
                            strong Author:
                            span= book.properties.author
        else
            p No books found 